{% comment %}

  This is your /cart template.

{% endcomment %}
<div id="CartSection" data-section-id="{{ section.id }}" data-section-type="cart-template" data-notes-enable="{{ section.settings.cart_notes_enable }}">
  <cart-form cart-form cart_json="{{ cart | json | escape }}"></cart-form>
</div>



{% schema %}
{
  "name": {
    "da": "Side med indkøbskurv",
    "de": "Warenkorb-Seite",
    "en": "Cart page",
    "es": "Página del carrito de compras",
    "fi": "Ostoskorisivu",
    "fr": "Page du panier",
    "hi": "कार्ट पेज",
    "it": "Pagina del carrello",
    "ja": "カートページ",
    "ko": "카트 페이지",
    "ms": "Halaman troli",
    "nb": "Handlekurvside",
    "nl": "Winkelwagenpagina",
    "pt-BR": "Página do carrinho",
    "pt-PT": "Página do carrinho",
    "sv": "Varukorgssida",
    "th": "หน้าตะกร้าสินค้า",
    "zh-CN": "购物车页面",
    "zh-TW": "購物車頁面"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "cart_notes_enable",
      "label": {
        "da": "Aktivér ordrebemærkninger",
        "de": "Bestellhinweis aktivieren",
        "en": "Enable order notes",
        "es": "Habilitar notas de pedido",
        "fi": "Ota tilauksen huomautukset käyttöön",
        "fr": "Activer les notes de commande",
        "hi": "ऑर्डर नोट्स सक्षम करें",
        "it": "Abilita le note sugli ordini",
        "ja": "注文メモを有効にする",
        "ko": "주문 참고 사항 사용",
        "ms": "Dayakan nota pesanan",
        "nb": "Aktiver bestillingsmerknader",
        "nl": "Opmerkingen bij bestellingen inschakelen",
        "pt-BR": "Habilite observações sobre o pedido",
        "pt-PT": "Ativar as notas de encomendas",
        "sv": "Aktivera orderanteckningar",
        "th": "เปิดใช้งานหมายเหตุของคำสั่งซื้อ",
        "zh-CN": "启用订单备注",
        "zh-TW": "啟用訂單備註"
      }
    }
  ]
}
{% endschema %}
